<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" routerLink="/">
      📚 BookTracker
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            About
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/books">
            Books
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/authors">
            Authors
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/resources">
            Resources
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/lists">
            Mis Listas
          </a>
        </li>

      </ul>
      <button class="btn btn-primary px-4" routerLink="/login">
        Log In
      </button>

    </div>

  </div>
</nav>
